<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/SFKT_transparent.png" type="image/gif" sizes="100%" border-radius="50%">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>SKFTshop</title>
</head>

<body>

    <!-- HEADER -->
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <nav class="navbar">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/SFKT_transparent.png" alt="Bootstrap" width="60" height="60">
                    </a>
                </nav>

                <button class="navbar-toggler button-menu" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover fz fw-medium  " aria-current="page" href="contact.html"><i
                                    class="fa-solid fa-envelope-open-text"></i> Contact</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover fz fw-medium  " aria-current="page" href="faq.html"><i
                                    class="fa-solid fa-circle-question"></i> FAQ</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover fz fw-medium  " aria-current="page" href="blog.html"><i
                                    class="fa-solid fa-book-open"></i> Blog</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover fz fw-medium  " aria-current="page" href="shop.html"><i
                                    class="fa-solid fa-store"></i> Shop</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item px-2">
                            <div class="search-icon">
                                <a class="nav-link nav-hover  " aria-current="page" href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                                <input type="search" class="form-control search-input" placeholder="Search...">
                            </div>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover  " aria-current="page" href="wishlist.html"><i
                                    class="fa-solid fa-heart"></i></a>
                        </li>

                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover  " aria-current="page" href="cart.html">
                                <i class="fa-solid fa-cart-shopping position-relative cart-icon">
                                    <span class="position-absolute  badge ms-auto badge_content">
                                        3
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </i>
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link nav-hover" data-bs-toggle="collapse"
                            data-bs-target="#collapseWidthExample" aria-expanded="false"
                            aria-controls="collapseWidthExample"><i
                                    class="fa-solid fa-user"></i></a>
                            <div class="dropdown-menu login_box" id="collapseWidthExample">
                                <a class="dropdown-item login_box-item" href="signin.html" id="signIn">Sign in</a>
                                <a class="dropdown-item login_box-item" href="login.html" id="logIn">Log in</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="minibanner pt-4 pb-3 justify-content-center">
        <h6 class="text-center minibanner_text">⚡️ HAPPY HOLIDAY DEALS ON EVERYTHING ⚡️</h6>
    </div>

    <!-- LINK  -->
    <section class="mt-1 ">
        <div class="container">
            <div class="row">
                <!-- FILTER LIST -->
                <div class="row align-items-center mb-2 mt-4">
                    <div class="col-12 col-md">

                        <nav class="mt-1 filter_fz fz-sm" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-gray-500 link_page "
                                        href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="text-gray-500 link_page" href="blog.html">Blog</a>
                                </li>

                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="text-gray-500 link_page" href="blog.html">B5 Tips to Increase Your Online
                                        Saleslog</a>
                                </li>


                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <header class="container mt-5">
        <div class="row text-center">
            <h3 class="mb-3">5 Tips to Increase Your Online Sales</h3>
            <p class="mb-0 text-body-secondary fz-sm">By Oliver Barrett in Company / January 18, 2024</p>
        </div>
    </header>


    <!-- IMAGe -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/image/image_cate_1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-gray-500">
                    <h5 class="mb-4 text-body">Tree doesn't good void, waters without created</h5>
                    <p>
                        Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                        hath rule Evening Creepeth
                        own lesser years itself so seed fifth for grass evening fourth shall you're unto that. Had.
                        Female replenish for yielding so saw all
                        one to yielding grass you'll air sea it, open waters subdue, hath.
                    </p>

                    <p>
                        Saw wherein fruitful good days image them, midst, waters upon, saw. Seas lights seasons. Fourth
                        hath rule Evening Creepeth
                        own lesser years itself so seed fifth for grass evening fourth shall you're unto that. Had.
                        Female replenish for yielding so saw all
                        one to yielding grass you'll air sea it, open waters subdue, hath. Brought second Made. Be.
                        Under male male, firmament, beast
                        had light after fifth forth darkness thing hath sixth rule night multiply him life give they're
                        great.
                    </p>

                    <ul>
                        <li>Upon seas hath every years have whose subdue;</li>
                        <li>Given they're tree abundantly male our;</li>
                        <li>Fly make saw creeping evening make void own seasons behold.</li>
                    </ul>

                    <p>Brought second Made. Be. Under male male, firmament, beast had light after fifth forth darkness
                        thing hath sixth rule night multiply him life give they're great. Very together. Creature.
                        Green. Them evening a and light fourth.
                    </p>

                    <p>
                        She'd years darkness days. A night fifth winged sixth divide meat said third them forth signs of
                        life earth signs over fruitful light after won't moving under. Thing yielding upon seed. Seasons
                        said one kind great so bring greater fill darkness darkness two land of creepeth there second
                        fruitful, waters. Make don't void years Gathering gathering divide fill.
                    </p>


                </div>
                <!-- image -->
                <div class="row mt-4">
                    <div class="col-6">
                        <img class="img-fluid" src="assets/image/something (4).jpg" alt="">
                    </div>

                    <div class="col-6">
                        <img class="img-fluid" src="assets/image/something (7).jpg" alt="">
                    </div>
                </div>

                <!-- content 2 -->
                <div class="col-12 col-md-10 text-gray-500 mt-5">
                    <h5 class="mb-4 text-body">Replenish female give him</h5>
                    <p>
                        Have multiply greater male living stars replenish earth said replenish our yielding let She'd
                        spirit. Male. Two. Greater. Brought our, there kind don't lesser beast whose above Is without
                        great. Of moving firmament shall. For light land them man. Deep isn't light them. Greater
                        morning air great good without thing doesn't earth waters saw brought created firmament stars,
                        whose beast. Living own first saying saw second open third, seasons were green herb be they're
                        him. Good, saying him. For of which land own in. Sixth spirit. Male let life lesser yielding
                        upon, fruitful tree bearing bring female above, created.
                    </p>

                    <p>
                        Female unto lights won't. Set dry his isn't air unto fruit seasons you'll male very given. Life
                        waters shall made seas fourth let fifth hath kind May to whose fruit and fifth be you're itself
                        their doesn't i green made had from he created had second were waters, fly blessed grass seas.
                        Had own. Given won't set waters creature fish brought she'd is created life.
                    </p>

                    <div class="blockquote-2 my-4 mx-md-4">
                        <p class="mb-0 text-black">
                            " Without Was be great it them green which seed. They're lights i of life. Abundantly. Void
                            night divide appear be won't days they're beast in. You day blessed there i very stars man
                            Saw had, make let light his above. "
                        </p>
                    </div>

                    <p>
                        Saying beginning two whose third moved. Him creeping divided dominion which forth waters
                        multiply land of us. Waters dry
                        above one fifth for. Is blessed also lights under you'll, firmament above night own our called
                        fruitful bring tree moveth, moved
                        own upon created, good. Seed place multiply so. Night years divide divided. Man moveth air,
                        can't set. Fourth likeness. Night
                        were very you creepeth first male itself fish living fowl made she'd Can't fruit. Said his us
                        land from moveth.
                    </p>

                </div>
            </div>
        </div>

        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <a class="btn btn-xs fz-sm  fw-normal text-black me-3 mb-3 border button" href="#">
                        Community
                    </a>
                    <a class="btn btn-xs fz-sm  fw-normal text-black me-3 mb-3 border button" href="#">
                        Business
                    </a>
                    <a class="btn btn-xs fz-sm  fw-normal text-black me-3 mb-3 border button" href="#">
                        Fashion
                    </a>
                    <a class="btn btn-xs fz-sm  fw-normal text-black me-3 mb-3 border button" href="#">
                        Marketing
                    </a>
                    <a class="btn btn-xs fz-sm  fw-normal text-black me-3 mb-3 border button" href="#">
                        Teamwork
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn button border btn-facebook me-3 mb-3">
                        <i class="fa-brands fa-facebook-f"></i> Share on Facebook
                    </a>

                    <a href="#" class="btn button border btn-twitter me-3 mb-3">
                        <i class="fa-brands fa-x-twitter"></i> Share on Twitter
                    </a>

                    <a href="#" class="btn button border btn-pinterest me-3 mb-3">
                        <i class="fa-brands fa-pinterest-p"></i> Share on Pinterest
                    </a>

                    <a href="#" class="btn button border btn-linkedin me-3 mb-3">
                        <i class="fa-brands fa-linkedin-in"></i> Share on Linkedin
                    </a>


                </div>
            </div>
        </div>


        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-12 mb-4">
                    <h4 class="mb-4 mb-sm-0 text-center">Latest in Blog</h4>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                            <div class="card mb-4 mb-md-0">
                                <div class="badge bg-white text-body card-badge">
                                    <time class="text-uppercase" datetime="2024-03-20">March 21</time>
                                </div>
                                <img src="assets/image/blog/blog-7.png" class="img-thumbnail border-0 rounded-0" alt="">
                                <div class="card-body px-0">
                                    <h4 class="fw-medium">So isn't land signs greater void face replenish.</h4>
                                    <p class="mb-0 text-gray-500 fz-sm">
                                        Midst one brought greater also morning green saying had good. Open stars
                                        day let over gathered, grass face one every light of under.
                                    </p>
                                    <a href="blogdetail.html" class="btn fz fw-medium  stretched-link px-0 text-reset">
                                        Read More <i class="fa-solid fa-arrow-right fa-beat"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card mb-4 mb-md-0">
                            <div class="badge bg-white text-body card-badge">
                                <time class="text-uppercase" datetime="2024-03-20">March 7</time>
                            </div>
                            <img src="assets/image/blog/blog-4.png" class="img-thumbnail border-0 rounded-0" alt="">
                            <div class="card-body px-0">
                                <h4 class="fw-medium">Created their subdue together.</h4>
                                <p class="mb-0 text-gray-500 fz-sm">
                                    Stars female night fowl our second in great can't after he sea thing so a said
                                    two. Fowl may open first.
                                </p>
                                <a href="blogdetail.html" class="btn fz fw-medium  stretched-link px-0 text-reset">
                                    Read More <i class="fa-solid fa-arrow-right fa-beat"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card mb-4 mb-md-0">
                            <div class="badge bg-white text-body card-badge">
                                <time class="text-uppercase" datetime="2024-03-20">March 21</time>
                            </div>
                            <img src="assets/image/blog/blog-1.png" class="img-thumbnail border-0 rounded-0" alt="">
                            <div class="card-body px-0">
                                <h4 class="fw-medium">Heaven upon heaven moveth every have.</h4>
                                <p class="mb-0 text-gray-500 fz-sm">
                                    Divide own, there tree forth whales you, fill creepeth our. You're itself may
                                    yielding green was fly one kind fish hath be be winged.
                                </p>
                                <a href="blogdetail.html" class="btn fz fw-medium  stretched-link px-0 text-reset">
                                    Read More <i class="fa-solid fa-arrow-right fa-beat"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer_background bg-dark bg-cover pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                    <h5 class="mb-5 text-center text-white">Want style Ideas and Treats?</h5>
                    <form action="" class="mb-5">
                        <div class="row gx-5 align-items-start">
                            <div class="col w-50">
                                <input type="email" class="form-control form-control-gray-700 form-control-lg"
                                    placeholder="Enter Email">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-gray-500 btn-lg">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3 text-center">
                    <h4 class="mb-5 text-white">SKFTshop.</h4>
                    <ul class="list-inline mb-3 mb-md-0 footer_icon">
                        <li class="list-inline-item ml-1">
                            <a href="#" class="text-gray-400"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item ml-1">
                            <a href="#" class="text-gray-400"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item ml-1">
                            <a href="#" class="text-gray-400"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li class="list-inline-item ml-1">
                            <a href="#" class="text-gray-400"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item ml-1">
                            <a href="#" class="text-gray-400"><i class="fa-brands fa-facebook-messenger"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="col-6 col-sm text-start">
                    <ul class="mb-4 mb-sm-0">
                        <h6 class="mb-3 text-white">SUPPORT</h6>
                        <li>
                            <a href="#" class="text-gray-400 footer_text">Contact US</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">FAQs</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">Size Guide</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">Shipping & Return</a>
                        </li>

                    </ul>
                </div>

                <div class="col-6 col-sm text-start">
                    <ul class="mb-4 mb-sm-0">
                        <h6 class="mb-3 text-white">SHOP</h6>
                        <li>
                            <a href="shop.html" class="text-gray-400 footer_text">Men's</a>
                        </li>

                        <li>
                            <a href="shop.html" class="text-gray-400 footer_text">Shopping Women's</a>
                        </li>

                        <li>
                            <a href="shop.html" class="text-gray-400 footer_text">Shopping Kid's</a>
                        </li>

                        <li>
                            <a href="shop.html" class="text-gray-400 footer_text">Shopping Discounts</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-sm text-start">
                    <ul class="mb-4 mb-sm-0">
                        <h6 class="mb-3 text-white">COMPANY</h6>
                        <li>
                            <a href="#" class="text-gray-400 footer_text">Our Story</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">Careers</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">Terms & Conditions</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">Privacy & Cookie policy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-sm text-start">
                    <ul class="mb-4 mb-sm-0">
                        <h6 class="mb-3 text-white">CONTACT</h6>
                        <li>
                            <a href="#" class="text-gray-400 footer_text">1-22222-3333</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">2-3333-44444</a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-400 footer_text">help@sfktshop.com</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer_line mt-5 mb-3">
            <div class="line mb-3"></div>
            <div class="row justify-content-center align-items-center">
                <p class="text-center footer_text-end">© 2024 All rights reserved. Designed by Sofk.</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/84236ec286.js" crossorigin="anonymous"></script>
<script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/javascript/script.js"></script>



</body>